{:source-paths ["src"]
 :dependencies [[cider/cider-nrepl "0.16.0-SNAPSHOT"]]
 :dev-http {8080 "public/"}
 :builds {:app {:output-dir "public/js/"
                :asset-path "js/"
                :target :browser
                :modules {:main {:init-fn app.main/main!}}
                ;; :devtools {:after-load app.main/reload!}
                :devtools {:http-root "public"
                           :http-port 8020}}}}
