{:source-paths ["src"]
 :dependencies [[cider/cider-nrepl "0.16.0-SNAPSHOT"]
                [reagent "0.8.1"]
                [macchiato/core "0.2.14"]
                [mount "0.1.16"]
                [bidi "2.1.5"]
                [com.taoensso/timbre "4.10.0"]]
 :dev-http {8080 "target/"}
 :builds       {:app
                {:output-dir "assets/"
                 :asset-path "."
                 :target     :browser
                 :modules    {:main {:init-fn app.main/main!}}
                 :dev-http   {8080 "assets/"}
                 :devtools   {:after-load app.main/reload!
                              :http-root "assets/"
                              :http-port 8020}}
                :backend
                {:target    :node-script
                 :main      backend.core/main
                 :output-to "target/backend/script.js"
                 :devtools  {:autoload true}}}}
